<h3>Dettaglio Esperienza Lavorativa</h3>
<div *ngIf="esp">
  <label> QUALIFICA:
    <input #QuaE [(ngModel)]="esp.Qualifica" placeholder="qualifica..."/>
  </label>
  <br>
  <label> DESCRIZIONE:
   <input #DesE [(ngModel)]="esp.Descrizione" placeholder="descrizione.."/>
  </label>
  
  <br>
  <label>ANNO INIZIO:
    <input #AIE [(ngModel)]="esp.AnnoInizio" placeholder="Anno Inizio..."/>
  </label>
  <br>
  <label> ANNO FINE : 
    <input #AFE [(ngModel)]="esp.AnnoFine" placeholder="Anno Fine..."/>
  </label>
  <br>
  <button *ngIf="btn_save" class="btn-warning" (click)="save()">SAVE </button>
  <button *ngIf="btn_delete"  class="btn-danger" (click)="delete()">DELETE</button>
  <button *ngIf="btn_back" (click)="goBack()" id="btn-back-esp" >Go Back</button>
</div>