<h3>Curriculum di {{name}}</h3>

<div id="CV_container" *ngIf="cv">
  <div class="row">
    <div class="col-md-1">
      <label>NOME: </label>
    </div>
    <div class="col-md-2">
      <input [(ngModel)]="cv.Nome" placeholder="nome...">
    </div>
    <div class="col-md-1">
      <label>COGNOME: </label>
    </div>
    <div class="col-md-2">
      <input [(ngModel)]="cv.Cognome" placeholder="cognome..."> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <label>ETA: </label>
    </div>
    <div class="col-md-2">
        <input [(ngModel)]="cv.Eta" placeholder="eta..."> 
    </div>
    <div class="col-md-1">
      <label>Telefono: </label>
    </div>
    <div class="col-md-2">
        <input [(ngModel)]="cv.Telefono" placeholder="telefono..."> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <label>Residenza: </label>
    </div>
    <div class="col-md-2">
        <input [(ngModel)]="cv.Residenza" placeholder="residenza..." > 
    </div>
    <div class="col-md-1">
      <label>Email: </label>
    </div>
    <div class="col-md-2">
      <input [(ngModel)]="cv.Email" placeholder="email..." >  
    </div>
  </div>
  <button class="btn-warning" (click)="save()">SALVA</button>
  <button class="btn-danger" (click)="delete()">DELETE</button>
</div>
<app-list-esp></app-list-esp>

<br>
<app-list-perstud></app-list-perstud>
<app-list-comp></app-list-comp>