<div id="search-component">
  <h2>Ricerca Curriculum</h2>
  <div>
    <h4>{{message}}</h4>
    <input placeholder="parola chiava..." #searchBox id="search-box" (keyup)="search(searchBox.value)"/>
    <br>
    <br>
    <br>
    <input #cognomeS  value="" id="search-box1" placeholder="cognome..." >
    <br>
    <input #etaS      value="" placeholder="eta fissata..." type="number">
    <br>
    <input #etaMinS   value="" placeholder="eta minima ..." type="number">
    <input #etaMaxS   value="" placeholder="eta massima ... " type="number">
    <br>
    <button id="btn_cerca_cognome" (click)="searchAll(cognomeS.value, etaS.value, etaMaxS.value , etaMinS.value)">CERCA!</button>    
  </div>
  <div>
  </div>
  <ul class="curriculum-list">
    <li *ngFor="let cv of cvs$ | async">
      <a routerLink="/detail/{{cv.Matricola}}">
        {{cv.Nome}}
      </a>
    </li>
  </ul>
</div>
