<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div style="text-align:center">
  <h1>
    Benvenuto Nella Gestione Curriculum
  </h1>
  <img width="300" alt="Angular Logo" src="https://www.infojobs.it/logo/logo/do-get.xhtml?id=4692022578&dgv=5497177196021462421">
</div>
<nav class="nav-tabs" style="text-align:center">
  <a routerLink="/curriculum"> <button>Curriculum</button> </a>
  <a routerLink="/add" > <button>ADD</button>  </a>
  <a routerLink="/search"><button>Search</button></a>
  
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>