<h2>Aggiungi Curriculum</h2>
<div>
    <div class="row">
        <div class="col-md-1">
          <label>NOME: </label>
        </div>
        <div class="col-md-2">
          <input required #nomeCv placeholder="nome...">
        </div>
        <div class="col-md-1">
          <label>COGNOME: </label>
        </div>
        <div class="col-md-2">
          <input required #cognomeCv placeholder="cognome..."/> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <label>ETA: </label>
        </div>
        <div class="col-md-2">
            <input required type="number" #etaCv placeholder="eta..."/> 
        </div>
        <div class="col-md-1">
          <label>Telefono: </label>
        </div>
        <div class="col-md-2">
            <input required #telCv placeholder="telefono..." /> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <label>Residenza: </label>
        </div>
        <div class="col-md-2">
            <input required #resiCv placeholder="residenza..." /> 
        </div>
        <div class="col-md-1">
          <label>Email: </label>
        </div>
        <div class="col-md-2">
          <input required #emailCv placeholder="email..." />  
        </div>
      </div>
  <button class="btn-success" (click)="add(nomeCv.value , cognomeCv.value , etaCv.value , telCv.value,  resiCv.value, emailCv.value )">ADD</button>
  
</div>

