<h3>Dettaglio Percorso Studi</h3>
<div *ngIf="perstud">
  <label>Qualifica:
    <input [(ngModel)]="perstud.Titolo"/>
  </label>
  <br>
  <label>Descrizione: 
    <input [(ngModel)]="perstud.Descrizione"/>
  </label>
  <br>
  <label>Anno Inizio:
    <input type="number" [(ngModel)]="perstud.AnnoInizio"/>
  </label>
  <br>
  <label>Anno Fine: 
    <input type="number" [(ngModel)]="perstud.AnnoFine" />
  </label>
  <br>
  <button class="btn-warning" (click)="save()">SAVE</button>
  <button class="btn-danger" (click)="deletePerStud()">DELETE</button>
  <button (click)="goBack()">GO BACK</button>
</div>
